#navvy{
    background-color: rgb(207, 212, 216);
    padding: 10px;
    margin-top: none;
}
body{
    background-color: rgb(255, 225, 127);
    background-image: url("images/background2.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#navpic{
    height: 50px;
}
.card{
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    opacity: 1.0;

}
#head2{
    align-items: center;
    text-align: center;

}
footer{
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
.container{
    background-color: rgb(243, 236, 236);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    width: 2000px;
    /* opacity: .95; */
}
.navbar{
    padding-top: 0;
    padding-bottom: 2px;
}
#login{
    float: right;    
    font-size: large;
    margin-top: 15px;
}
#accountThumbnail{
    height: 21px;
}
#title{
    padding-top: 20px;
}
.bg-image{
    filter: blur(8px);
    -webkit-filter: blur(8x);
}
img{
    height: 290px;
    opacity: 1;
}
.btn-group{
    width: 100%;
    height: 50px;
}
#ExteriorDoorLabel{
    background-color: rgb(243, 95, 95);
    padding: 15px;
    border-radius: 10px;
}
#StormDoorLabel{
    background-color: skyblue;
    padding: 15px;
    border-radius: 10px;
}
#WindowLabel{
    background-color: yellow;
    padding: 15px;
    border-radius: 10px;
}
#MeasureLabel{
    background-color: rgb(14, 156, 14);
    padding: 15px;
    border-radius: 10px;
}
#CabinetLabel{
    background-color: rgb(90, 90, 90);
    padding: 15px;
    border-radius: 10px;
}
#HDLabel{
    background-color: rgb(224, 101, 19);
    padding: 15px;
    border-radius: 10px;
}
#LongLabel{
    background-color: rgb(203, 131, 236);
    padding: 15px;
    border-radius: 10px;
}
#officeLabel{
    background-color: rgb(36, 24, 211);
    color: white;
    padding: 15px;
    border-radius: 10px;
}
.btn-success{
    background-color: rgb(37, 206, 206);
    
}
.btn-success:hover{
    background-color: rgb(66, 251, 251);
}
.btn-success:active{
    background-color: rgb(151, 153, 153);

}
.btn-success:focus{
    background-color: rgb(238, 236, 130);
}

#rightbutton{
    float: right;
    
}